*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   /*overflow-x: hidden;*/
   font-family: sans-serif;
}

body{
   background-color: #ccc;
   /*overflow: hidden;*/
}

/* START ONE-ANIMATION */
.box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   right: 850px;
}
.box  .card {
   position: relative;
   width: 400px;
   height: 450px;
   transition: .5s;
   overflow: hidden;
}
.box .card .card-img img {
   border-radius: 20px;
   opacity: 0.5;
   position: relative;
}
.card-img img{
   background-size: cover;
   width: 100%;
}
.box .card .card-content {
   position: absolute;
   bottom: -100%;
   transition: .5s;
}
.box .card:hover .card-content{
   bottom: 0;
}
.card-content {
   margin-left: 85px;
   text-align: center;
}
.card-content p{
   font-size: 18px;
   font-weight: 500;
   line-height: 25px;
   margin-bottom: 50px;
   color: rgb(23, 65, 81);
}

.card-static{
   position: absolute;
   top: 50px;
   left: 85px;
   text-align: center;
}
.card-static h2 {
   font-size: 28px;
   color: rgb(43, 64, 118);
}
.card-static .linee{
   font-size: 30px;
   font-weight: bold;
   color: rgb(13, 0, 255);
   margin-bottom: 20px;
}
.card-static .content-text{
   margin-top: 20px;
   font-size: 20px;
   font-weight: 600;
   color: rgb(23, 65, 81);
}
.card-list {
   display: flex;
   list-style: none;
   margin-top: 15px;
}
.card-item {
   margin-left: 20px;
}

/* THE END ONE-ANIMATION */




/* START TWO-ANIMATION */
.box2{
   position: absolute;
   left: 135px;
   top: 30px;
}
.box2 .content {
   position: relative;
   margin-top: 75px;
   transition: .5s;
   width: 350px;
   height: 400px;
   overflow: hidden;
}
.box2 .content:hover{
   box-shadow: 0 1px 15px 4px rgba(123, 172, 255, 0.329);
}
.box2 .content .content-img img{
   border-radius: 10px;
   text-align: center;
}
.content-img {
   opacity: 0.5;
   transition: .5s;
   overflow: hidden;
}
.box2 .content .content-img{
   position: absolute;
   transition: .5s;
}
.box2 .content .content-text{
   position: absolute;
   width: 100%;
   height: 100%;
   bottom: -100%;
   box-sizing: border-box;
   transition: .5s;
}
.box2 .content:hover .content-text{
   bottom: 0;
}


.two {
   margin-left: 70px;
   margin-top: 30px;
   color: aqua;
}
.line{
   margin-left: 140px;
   font-size: 25px;
   font-weight: bold;
   color: yellow;
}
.parogrov{
   margin-left: 80px;
   margin-top: 30px;
   font-style: italic;
}
.text{
   margin-top: 80px;
   width: 300px;
   margin-left: 35px;
}

.content-list {
   margin-top: 30px;
   list-style: none;
}
.content-item{
   margin-left: 40px;
}
/* THE END TWO-ANIMATION */