* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

body{
   background-color: #2A333AFF;
}

/* START ONE-ANIMATION */
.box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   right: 850px;
}
.box  .card {
   position: relative;
   width: 400px;
   height: 450px;
   transition: .5s;
   overflow: hidden;
}
.box .card .card-img img {
   border-radius: 20px;
   opacity: 0.5;
   position: relative;
}
.card-img img{
   background-size: cover;
   width: 100%;
}
.box .card .card-content {
   position: absolute;
   transition-duration: 2s;
   bottom: -100%;
}
.box .card:hover .card-content{
   bottom: 10%;
}
.card-content {
   margin-left: 85px;
   text-align: center;
   color: rgb(216, 216, 216);
}
.card-content p{
   font-size: 18px;
   font-weight: 500;
   line-height: 25px;
   margin-bottom: 50px;
}

.card-static{
   position: absolute;
   top: 50px;
   left: 85px;
   text-align: center;
}
.card-static h2 {
   font-size: 28px;
   color: rgb(216, 216, 216);
}
.card-static .linee{
   font-size: 30px;
   font-weight: bold;
   color: yellow;
   margin-bottom: 20px;
}
.card-static .content-text{
   margin-top: 20px;
   font-size: 20px;
   font-weight: 600;
   color: rgb(216, 216, 216);
}
.card-list {
   position: absolute;
   display: flex;
   list-style: none;
   bottom: 20px;
}
.card-item {
   margin-left: 20px;
   color: rgb(216, 216, 216);
}
.taim{
   position: absolute;
   color: rgb(216, 216, 216);
   font-size: 20px;
   left: 280px;
   font: 600;
}
/* THE END ONE-ANIMATION */




/* START TWO-ANIMATION */
.box2 {
   position: absolute;
   overflow: hidden;
}
.box2 .content{
   width: 350px;
   height: 400px;
   position: relative;
   overflow: hidden;
   margin-top: 100px;
   margin-left: 150px;
   transition-duration: 1s;
}
.box2 .content .content-img img{
   border-radius: 10px;
   opacity: .5;
   width: 100%;
}
.text-content{
   color: rgb(216, 216, 216);
   position: relative;
   bottom: 380px;
   left: 60px;
}
.two{
   font-size: 30px;
   font-weight: bold;
}
.line{
   margin-left: 75px;
   font-size: 30px;
   font-weight: bold;
   color: yellow;
}
.parogrov{
   margin-top: 20px;
   font-size: 20px;
   margin-left: 15px;
}
.content-list{
   position: absolute;
   list-style: none;
   bottom: 25px;
   left: 20px;
}
.content-item{
   margin-right: 15px;
}
.data{
   position: absolute;
   font-size: 18px;
   left: 220px;
   color: rgb(216, 216, 216);
}
.content-text .text{
   position: absolute;
   transition-duration: 2s;
   font-size: 18px;
   bottom: -30%;
   text-align: center;
   color: rgb(216, 216, 216);
}
.box2 .content:hover .text{
   bottom: 30%;
}
/* THE END TWO-ANIMATION */